/vendor
/node_modules
.env
gulpfile.js
/resources/assets
/resources/views/email.blade.php
/resources/views/home.blade.php
/resources/views/welcome.blade.php
/public/images/bgs/home_black.png
/public/images/bgs/home_blue.png
/public/images/bgs/home_blur1.png
/public/images/bgs/home_blur2.png
/public/images/bgs/home_clock.png
/public/images/bgs/home_mountains.png
/public/images/bgs/home_white.png
/public/images/bgs/sunrise.jpg
/public/images/logos
/public/images/users
/app
/bootstrap
/config
/database
/storage
/tests
/.env.example
/artisan
/composer.json
/composer.lock
/package.json
/phpspec.yml
/phpunit.xml
/server.php
/resources/views/pages/projects
/resources/views/partials
/resources/views/vendor
/.idea
/.DS_Store